body {
    border: 0;
    margin: 0;
}


/* ---------------- HEADER ---------------- */

header {
    width: 99%;
    height: 180px;
    /* border: 1px solid #000; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/hero_img.png');
    background-size: 100%;
    background-position: center;
}

#hero {
    width: 100%;
}

header h1 {
    text-align: center;
    color: #fff;
    font-size: 48px;
}

#search_bar {
    text-align: center;
    width: 234px;
    height: 33px;
    border-radius: 10px;
    border: none;
}

#search_bar:focus {
    outline: none;
}

.navbar {
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
}

.navbtn {
    box-sizing: border-box;
    width: 24.7%;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.navbtn:nth-of-type(1) {
    background-color: rgba(46, 179, 51, 0.7);
}

.navbtn:nth-of-type(2) {
    background-color: #24B329;
}

.navbtn:nth-of-type(3) {
    background-color: #17B31D;
}

.navbtn:nth-of-type(4) {
    background-color: #0AAD11;
}

.navbtn>a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}


/* ---------------- CAROUSEL ------------------- */


/* Slideshow container */

.slideshow-container {
    width: 70%;
    position: relative;
    margin: auto;
    border: 1px solid #000;
    height: 300px;
}


/* Hide the images by default */


/* .mySlides {
    display: none;
} */

.slide_img {
    width: 100%;
    height: 300px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* ---------------- PRODUCT SECTION ---------------- */

.products {
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    /* border: 1px solid #000; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product_card {
    width: 145px;
    height: 210px;
    /* border: 1px solid #000; */
    text-align: center;
    margin: 0 auto;
}

.product_img {
    width: 145px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#img_1 {
    background-image: url('images/castanha-caju-salgada-torrada-w4-emporio-rosa.jpg');
}

#img_2 {
    background-image: url('images/trigo-graos-cerealista-express.jpg');
}

#img_3 {
    background-image: url('images/granola_sem_acucar_levy_1kg_885_1_20200519163311.jpg');
}

#img_4 {
    background-image: url('images/a9e13085a837fb7b064646fa8c688af8.jpg');
}

.product_img>img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.product_desc {
    width: 145px;
    height: 70px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

.product_p {
    padding: 0;
}

.product_h4 {
    padding: 0;
    margin: 0;
}

.product_btn {
    margin: auto;
    width: 63px;
    height: 31px;
    border-radius: 5px;
    padding: 0;
    background-color: #1F9103;
    border: none;
}

.product_btn>a {
    text-decoration: none;
    color: #fff;
}


/* .product_btn:focus {
    outline: none;
} */


/* ---------------- CONTACT US SECTION ------------------- */

.contact_us {
    width: 90%;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    margin: auto;
}

.form_title {
    width: 90%;
    height: 40px;
    border: 1px solid #000;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.form_input {
    width: 40%;
    align-self: center;
    height: 40px;
}

.form_label {
    display: inline;
    margin-left: 15%;
    position: relative;
    top: 10%;
}

.social_media {
    width: 40%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 220, 22);
}

.social_media p {
    padding: 0;
}